<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!--  v-if和v-show  -->
    <div id="app">
        <!-- v-if，顾名思义，条件判断。当得到结果为true时，所在的元素才会被渲染。-->
        <!-- 语法： v-if="布尔表达式"-->
        <button type="button" v-on:click="show = !show">点击切换</button>
        <h1 v-if="show">
            hello
        </h1>
        <ul>
            <li v-for="(user,index) in users" v-if="user.gender === '女'">
                {{index}} - {{user.name}} : {{user.gender}} : {{user.age}}
            </li>
        </ul>
        <!-- v-else -->
        <div v-if="Math.random() > 0.5">
            Now you see me
        </div>
        <div v-else>
            Now you don't
        </div>
        <!-- v-else-if -->
        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>
    <!-- v-show -->
    <!-- 另一个用于根据条件展示元素的选项是 `v-show` 指令。用法大致一样：<h1 v-show="ok">Hello!</h1>-->
    <!-- 不同的是带有 `v-show` 的元素始终会被渲染并保留在DOM中。`v-show`只是简单地切换元素的 CSS属性 `display`-->

    </div>

</body>
<script type="text/javascript">
   new Vue({
       el:"#app",
       data:{
           show:true,
           users:[
               {name:'柳岩', gender:'女', age: 21},
               {name:'虎哥', gender:'男', age: 30},
               {name:'范冰冰', gender:'女', age: 24},
               {name:'刘亦菲', gender:'女', age: 18},
               {name:'古力娜扎', gender:'女', age: 25}
           ]

       },
       methods:{

       }

   })
</script>
</html>