<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!--  v-if和v-show  -->
    <div id="app">
        <!-- v-if，顾名思义，条件判断。当得到结果为true时，所在的元素才会被渲染。-->
        <!-- 语法： v-if="布尔表达式"-->
        <button type="button" v-on:click="show = !show">点击切换</button>
        <h1 v-if="show">
            hello
        </h1>
    </div>

</body>
<script type="text/javascript">
   new Vue({
       el:"#app",
       data:{
            show:true
       },
       methods:{

       }

   })
</script>
</html>